@page "{restaurantId:int}"
@model OmarRestaurant.Pages.Restaurant.DetailModel
@{
    ViewData["Title"] = "Detail";
}

<h1>@Model.restaurant.Name</h1>

<div>
   Id : @Model.restaurant.Id
</div>
<div>
    Location : @Model.restaurant.Location
</div>
<div>
    Cuisine : @Model.restaurant.Cuisine
</div>


<a asp-page="./List" class="btn btn-dark">All Restaurants</a>